<div class="container-fluid">
  <div class="row">
    <%- include('company-card',{image:"dalgidj.png"}); -%>
    <%- include('company-card',{image:"socar.jpg"}); -%>
    <%- include('company-card',{image:"dalgidj.png"}); -%>
    <%- include('company-card',{image:"socar.jpg"}); -%>
    <%- include('company-card',{image:"dalgidj.png"}); -%>
    <%- include('company-card',{image:"socar.jpg"}); -%>
  </div>
</div>
