<%- include('header');-%>
<div class="job-block">
  <img src="/images/portofolio-images/<%=source%>" alt="">
  <h1 class="job-title"><%=title%></h1>
  <p class="job-content"><%=content%></p>
</div>
<%- include('footer');-%>
