<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 aside">
      <div class="sidebar">
        <h1>Xidmətlərimiz</h1>
        <ul>
          <li><a href="#temir">Təmir</a></li>
          <li><a href="#tikinti">Tikinti</a></li>
          <li><a href="#work">Xidmətlər</a></li>
          <li><a href="#sell">Alqı-satqı</a></li>
          <li><a href="#services">Digər Servislər</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <div id="temir">
        <div class="row"><div class="col service-header"><h1>Təmir</h1></div></div>
          <div class="row">
            <%const temirArray=Items.filter(item=>item.type==="temir")%>
            <%temirArray.forEach((item, i) => {%>
              <%- include('card',{title:item.title,source:item.source,id:item._id}); -%>
            <%});%>
          </div>
      </div>
      <div id="tikinti">
        <div class="row"><div class="col service-header"><h1>Tikinti</h1></div></div>
          <div class="row">
            <%const tikintiArray=Items.filter(item=>item.type==="tikinti")%>
            <%tikintiArray.forEach((item, i) => {%>
              <%- include('card',{title:item.title,source:item.source,id:item._id}); -%>
            <%});%>
          </div>
      </div>
      <div id="work">
        <div class="row"><div class="col service-header"><h1>Xidmətlər</h1></div></div>
          <div class="row">
            <%const workArray=Items.filter(item=>item.type==="work")%>
            <%workArray.forEach((item, i) => {%>
              <%- include('card',{title:item.title,source:item.source,id:item._id}); -%>
            <%});%>
          </div>
      </div>
      <div id="sell">
        <div class="row"><div class="col service-header"><h1>Alqı-satqı</h1></div></div>
          <div class="row">
            <%const sellArray=Items.filter(item=>item.type==="sell")%>
            <%sellArray.forEach((item, i) => {%>
              <%- include('card',{title:item.title,source:item.source,id:item._id}); -%>
            <%});%>
          </div>
      </div>
      <div id="services">
        <div class="row"><div class="col service-header"><h1>Digər servislər</h1></div></div>
          <div class="row">
            <%const servicesArray=Items.filter(item=>item.type==="service")%>
            <%servicesArray.forEach((item, i) => {%>
              <%- include('card',{title:item.title,source:item.source,id:item._id}); -%>
            <%});%>
          </div>
      </div>
    </div>
  </div>

  </div>
